html, body {
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  display: block;
}
.description {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}